bin/
obj/
*.user
*.suo
*.userosscache
*.dotCover
*.log
*.vs/
.vscode/
.idea/
*.db
*.sqlite
*.tmp
*.swp
*.cache
*.DS_Store
node_modules/
wwwroot/js/*.TMP
bin/
obj/
.git/
.gitignore/
.vscode/
Dockerfile*
docker-compose*.yml
README.md 
